/* main header */
.main-header {
    background-color: var(--clr-primary-base); 
    padding: 20px;
    box-shadow: 0 2px 5px var(--clr-primary-2);
    position: sticky;
    top: 5px;

}

.main-header h1 {
    font-size: 2rem;
}



